.gridStyle {
    border: 1px solid rgb(212,212,212);
    width: 400px;
    height: 300px;
}

/* DataGrid - Green theme1 begin ----------- */
.gridHeadBoderStyle1 {
    border:solid 1px;
    border-color: #12125c;
}

.gridHeadStyle1 {
    border: 1px solid #234170;
    background: #6a83b0;
    color: #c7d6ff;
}

.gridCellStyle1 {
    border: 1px solid #387038;
    background: #cbe1e1;
    color: #146255;
}

.gridCellBoderStyle1 {
    border:solid 1px;
    border-color: #425d6e;
}
/* DataGrid - Green theme1 end ----------- */